<div class="page-header page-header-xs" style="background-image: url('./assets/img/productDetail.jpg');">
    <div class="filter"></div>
 </div>
 <div class="main-content">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-icon card-header-rose">
                        <h4 class="card-title">Funcionários</h4>
                        <div class="col-md-3 ml-auto">
                            <label>Pesquisar por nome</label>
                            <input class="form-control" placeholder="Nome" type="text">
                    </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <ng-container *ngIf="users$ | async; let users; else: carregando">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Nome</th>
                                        <th>Editar Permissões</th>
                                        <th>Salvar Permissões</th>
                                        <th>Ações</th>
                                        <!---->
                                    </tr>
                                </thead>
                                <tbody>
                                    <ngx-skeleton-loader *ngIf="!contentLoaded" count="1" animation="progress"
                                                appearance="circle" [theme]="{
                                        width: '230px',
                                        height: '350px',
                                        'border-radius': '5px'
                                      }">
                                    </ngx-skeleton-loader>
                                    <ng-container *ngFor="let user of users.users;">
                                    <tr>
                                        <td>
                                            <h6>{{ user.name }}</h6>
                                        </td>
                                        <td>
                                            <div ngbDropdown class="d-inline-block dropdown" placement="middle-left">
                                                <a class="btn btn-default btn-sm td-padding" id="dropdownBasic1"
                                                    ngbDropdownToggle>Permissões</a>
                                                <div ngbDropdownMenu aria-labelledby="dropdownBasic1"
                                                    class="dropdown-primary">
                                                    <a class="dropdown-header">Permissões de Produto</a>
                                                    <div class="form-check ml-2 mr-2">
                                                        <label class="form-check-label">
                                                            <input class="form-check-input" type="checkbox"
                                                                value="create:product" [disabled]="user.permissions.includes('create:product') ? true : false">
                                                            Criar Produto 
                                                            <span class="form-check-sign"></span>
                                                        </label>
                                                    </div>
                                                    <div class="form-check ml-2 mr-2">
                                                        <label class="form-check-label">
                                                            <input class="form-check-input" type="checkbox"
                                                                value="update:product" checked="">
                                                            Atualizar Produto
                                                            <span class="form-check-sign"></span>
                                                        </label>
                                                    </div>
                                                    <div class="form-check ml-2 mr-2">
                                                        <label class="form-check-label">
                                                            <input class="form-check-input" type="checkbox"
                                                                value="delete:product" checked="">
                                                            Deletar Produto
                                                            <span class="form-check-sign"></span>
                                                        </label>
                                                    </div>
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-header">Permissões de Usuários</a>
                                                    <div class="form-check ml-2 mr-2">
                                                        <label class="form-check-label">
                                                            <input class="form-check-input" type="checkbox"
                                                                value="create:user" checked="">
                                                            Criar Usuários
                                                            <span class="form-check-sign"></span>
                                                        </label>
                                                    </div>
                                                    <div class="form-check ml-2 mr-2">
                                                        <label class="form-check-label">
                                                            <input class="form-check-input" type="checkbox"
                                                                value="update:user" checked="">
                                                            Atualizar Permissões de Usuários
                                                            <span class="form-check-sign"></span>
                                                        </label>
                                                    </div>
                                                    <div class="form-check ml-2 mr-2">
                                                        <label class="form-check-label">
                                                            <input class="form-check-input" type="checkbox"
                                                                value="delete:user" checked="">
                                                            Deletar Usuários
                                                            <span class="form-check-sign"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <a class="btn btn-link btn-default btn-sm td-excluir">Salvar Permissões</a>
                                        </td>
                                        <td>
                                            <a class="btn btn-link btn-danger btn-sm td-excluir">Excluir</a>
                                        </td>
                                        <!---->
                                    </tr>
                                </ng-container>
                                </tbody>
                            </table>
                        </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>