<div class="page-header page-header-xs" style="background-image: url('./assets/img/productDetail.jpg');">
    <div class="filter"></div>
 </div>
 <div class="main-content">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-icon card-header-rose">
                        <h4 class="card-title">Funcionários</h4>
                        <div class="col-md-3 ml-auto">
                            <label>Pesquisar por nome</label>
                            <input class="form-control" placeholder="Nome" type="text">
                    </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <ng-container *ngIf="users">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Nome</th>
                                        <th>Editar Permissões</th>
                                        <th>Salvar Permissões</th>
                                        <th>Ações</th>
                                        <!---->
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container *ngFor="let user of users.users;">
                                    <tr>
                                        <td>
                                            <h6>{{ user.name }}</h6> 
                                        </td>
                                        <td>
                                            <div ngbDropdown class="d-inline-block dropdown" placement="middle-left">
                                                <a class="btn btn-default btn-sm td-padding" id="dropdownBasic1"
                                                    ngbDropdownToggle>Permissões</a>
                                                <div ngbDropdownMenu aria-labelledby="dropdownBasic1"
                                                    class="dropdown-primary">
                                                    <form (ngSubmit)="onSubmit($event)">
                                                    <a class="dropdown-header">Permissões de Produto</a>
                                                    <div class="form-check ml-2 mr-2">
                                                        <label class="form-check-label">
                                                            <input id="createproduct{{user._id}}" name="createproduct" class="form-check-input" type="checkbox"
                                                                value="create:product" [checked]="user.permissions.includes('create:product') ? true : false">
                                                            Criar Produto 
                                                            <span class="form-check-sign"></span>
                                                        </label>
                                                    </div>
                                                    <div class="form-check ml-2 mr-2">
                                                        <label class="form-check-label">
                                                            <input id="updateproduct{{user._id}}" name="updateproduct" class="form-check-input" type="checkbox"
                                                                value="update:product" [checked]="user.permissions.includes('update:product') ? true : false">
                                                            Atualizar Produto
                                                            <span class="form-check-sign"></span>
                                                        </label>
                                                    </div>
                                                    <div class="form-check ml-2 mr-2">
                                                        <label class="form-check-label">
                                                            <input id="deleteproduct{{user._id}}" name="deleteproduct{{user._id}}" class="form-check-input" type="checkbox"
                                                                value="delete:product" [checked]="user.permissions.includes('delete:product') ? true : false">
                                                            Deletar Produto
                                                            <span class="form-check-sign"></span>
                                                        </label>
                                                    </div>
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-header">Permissões de Usuários</a>
                                                    <div class="form-check ml-2 mr-2">
                                                        <label class="form-check-label">
                                                            <input id="createuser{{user._id}}" name="createuser" class="form-check-input" type="checkbox"
                                                                value="create:user" [checked]="user.permissions.includes('create:user') ? true : false">
                                                            Criar Usuários
                                                            <span class="form-check-sign"></span>
                                                        </label>
                                                    </div>
                                                    <div class="form-check ml-2 mr-2">
                                                        <label class="form-check-label">
                                                            <input id="updateuser{{user._id}}" name="updateuser" class="form-check-input" type="checkbox"
                                                                value="update:user" [checked]="user.permissions.includes('update:user') ? true : false">
                                                            Atualizar Permissões de Usuários
                                                            <span class="form-check-sign"></span>
                                                        </label>
                                                    </div>
                                                    <div class="form-check ml-2 mr-2">
                                                        <label class="form-check-label">
                                                            <input id="deleteuser{{user._id}}" name="deleteuser" class="form-check-input" type="checkbox"
                                                                value="delete:user" [checked]="user.permissions.includes('delete:user') ? true : false">
                                                            Deletar Usuários
                                                            <span class="form-check-sign"></span>
                                                        </label>
                                                    </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <a type="submit" (click)="onSubmit(user._id)" class="btn btn-link btn-default btn-sm td-excluir">Salvar Permissões</a>
                                        </td>
                                        <td>
                                            <a type="button" (click)="deleteUser(user.name, user.email, user._id)" class="btn btn-link btn-danger btn-sm td-excluir">Excluir</a>
                                        </td>
                                        <!---->
                                    </tr>
                                </ng-container>
                                </tbody>
                            </table>
                        </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>