<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/Landing3.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>Encomende a sua impressão 3d</h1>
            <h3>Tire as suas ideias do papel</h3>
            <h3>Enviamos para todo BR</h3>
            <br />
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-outline-neutral btn-round">Encomende a sua peça</a>
            <button type="button" class="btn btn-outline-neutral btn-round">Nossos Trabalhos</button>
        </div>
    </div>
</div>
<div class="main">
    <div class="section text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <h2 class="title">Conheça nossos serviços</h2>
                <h5 class="description">Imprimimos em 3d seus projetos com impressoras de alta qualidade e diversos materiais.
                    Tire agora o seu projeto do papel por um preço acessível.</h5>
                <br>
                <a href="#paper-kit" class="btn btn-danger btn-round">Solicitar Orçamento</a>
            </div>
        </div>
        <br/><br/>
        <div class="row">
            <div class="col-md-4">
                <div class="info">
                    <div class="card card-profile card-plain">
                    <div class="card-avatar">
                            <img src="./assets/img/geraldo.jpg" alt="...">
                    </div>
                </div>
                    <div class="description">
                        <h4 class="info-title">Impressão 3D em plásticos</h4>
                        <p class="description">Essa é a solução ideal para a produção de uma grande variedade de peças e protótipos funcionais para seus projetos. Feitos em termoplásticos resistentes e com o ótimo custo-benefício.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                                <img src="./assets/img/miranha.jpg" alt="...">
                        </div>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Impressão de Action Figures</h4>
                        <p>Tenha o Action Figure de seus personagens favoritos de alta qualidade por um preço acessível</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                                <img src="./assets/img/groot.jpg" alt="...">
                        </div>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Acabamento e Pintura</h4>
                        <p>Torne suas peças ainda mais épicas com acabamento e pintura. São diversas as possibilidades capazes de dar ainda mais vida aos seus projetos.</p>
                        
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="section section-dark text-center">
    <div class="container">
        <h2 class="title">Conheça nossos trabalhos</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="text-center" routerLinkActive="active">
                            <img src="./assets/img/trabalho1.jpg" alt="Rounded Image" class="img-rounded img-responsive" style="width: 100%">
                    </div>
                    <div class="card-block">
                            <div class="author">
                                <h4 class="card-title">Baby Groot</h4>
                            </div>
                        <p class="card-description text-center">
                            Já pensou em um Baby Groot todo charmoso e fofinho em sua casa. Encomende logo o seu.
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <button type="button" class="btn btn-outline-neutral btn-round btn-sm">Encomendar</button>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="text-center" routerLinkActive="active">
                            <img src="./assets/img/trabalho2.jpg" alt="Rounded Image" class="img-rounded img-responsive" style="width: 100%">
                    </div>
                    <div class="card-block">
                            <div class="author">
                                <h4 class="card-title">Vasinhos Robert Plant</h4>
                            </div>
                        <p class="card-description text-center">
                            Nossos vasinhos Robert Plant. 🍃 Temos em vários modelos e cores, faça já sua encomenda.
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <button type="button" class="btn btn-outline-neutral btn-round btn-sm">Encomendar</button>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="text-center" routerLinkActive="active">
                            <img src="./assets/img/trabalho3.jpg" alt="Rounded Image" class="img-rounded img-responsive" style="width: 100%">
                    </div>
                    <div class="card-block">
                            <div class="author">
                                <h4 class="card-title">Origami</h4>
                            </div>
                        <p class="card-description text-center">
                            Já imaginou como ficaria lindo na sua decoração estes origamis.
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <button type="button" class="btn btn-outline-neutral btn-round btn-sm">Encomendar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="section landing-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="text-center">Faça um Orçamento</h2>
                    <form class="contact-form">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Nome</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Name" (focus)="focus=true" (blur)="focus=false" >
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Email</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">  <i class="nc-icon nc-email-85"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Email" (focus)="focus1=true" (blur)="focus1=false" >
                                </div>
                            </div>
                        
                        
                        <div class="col-md-8">
                            <label>Tem imagens ou um modelo 3D?</label>
                            <div>
                                <button class="btn btn-danger btn-fill btn-sm">Fazer upload</button>
                            </div>
                        </div>
                    </div>
                    <br>
                        <label>Conte sobre o seu projeto, iremos adorar poder tirar as suas ideias do papel!!!</label>
                        <textarea class="form-control" rows="4" placeholder="Nos diga o que está planejando..."></textarea>
                        <div class="row">
                            <div class="col-md-4 mr-auto ml-auto">
                                <button class="btn btn-danger btn-lg btn-fill">Fazer orçamento</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
