<div class="page-header page-header-xs" style="background-image: url('./assets/img/productDetail.jpg');">
   <div class="filter"></div>
</div>

<div class="main">
   <div class="section">
      <div class="container">
         <h3 class="mb-3">Atualizar Produto</h3>
         <div>
            <div class="row">
               <div class="col-md-5 col-sm-5">
                  <h6>Imagens</h6>
                  <div data-provides="fileinput" class="fileinput fileinput-new text-center">
                     <div class="col-md-12 col-sm-6">     
                        <ngb-carousel>
                         <ng-template ngbSlide>
                             <img class="img-responsive" src="./assets/img/trabalho1.jpg" alt="Random first slide">
                             <div class="carousel-caption">
                              <a data-dismiss="fileinput"
                              class="btn btn-link btn-danger fileinput-exists"><i class="fa fa-times"></i>Remover</a>
                             </div>
                         </ng-template>
                         <ng-template ngbSlide>
                             <img class="img-responsive" src="./assets/img/trabalho1.jpg" alt="Random second slide">
                             <div class="carousel-caption">
                              <a data-dismiss="fileinput"
                              class="btn btn-link btn-danger fileinput-exists"><i class="fa fa-times"></i>Remover</a>
                              <a data-dismiss="fileinput"
                              class="btn btn-link btn-outline-default fileinput-exists">Tornar imagem de capa</a>
                             </div>
                         </ng-template>
                         <ng-template ngbSlide>
                             <img class="img-responsive" src="./assets/img/trabalho1.jpg" alt="Random third slide">
                             <div class="carousel-caption"> 
                              <a data-dismiss="fileinput"
                              class="btn btn-link btn-danger fileinput-exists"><i class="fa fa-times"></i>Remover</a>
                              <a data-dismiss="fileinput"
                              class="btn btn-link btn-outline-default fileinput-exists">Tornar imagem de capa</a>
                             </div>
                         </ng-template>
                     </ngb-carousel>
                      </div> 
                        <div class="mt-3">
                           <input style="display: none;" (change)="uploadImage($event)" type="file" multiple
                                    class="form-control-file" #onUpload>
                           <button type="button" class="btn btn-outline-default btn-round btn-file"
                              (click)="onUpload.click()">Carregar Imagens</button>
                        </div>
                  </div>
               </div>
               <div class="col-md-7 col-sm-7">
                  <div class="form-group">
                     <h6>Nome</h6><input type="text"
                        placeholder="Coloque o nome do produto" value="Baby Grooth" class="form-control border-input">
                  </div>
                  <div class="row price-row">
                     <div class="col-md-6">
                        <h6>Preço</h6>
                        <div class="input-group border-input"><input
                              type="text" value="30,00" placeholder="Preço do produto" class="form-control border-input">
                           <div class="input-group-append"><span
                                 class="input-group-text"></span></div>
                        </div>
                     </div>
                     <div class="col-md-3">
                        <h6>Altura</h6>
                        <div class="input-group border-input"><input
                              type="text" value="7" placeholder="Em cm" class="form-control border-input">
                           <div class="input-group-append"><span
                                 class="input-group-text"></span></div>
                        </div>
                     </div>
                     <div class="col-md-3">
                        <h6>Comprimento</h6>
                        <div class="input-group border-input"><input
                              type="text" value="7" placeholder="Em cm" class="form-control border-input">
                           <div class="input-group-append"><span
                                 class="input-group-text"></span></div>
                        </div>
                     </div>
                     <div class="col-md-4 mt-3">
                        <h6>Altura embalado</h6>
                        <div class="input-group border-input"><input
                              type="text" value="8" placeholder="Em cm" class="form-control border-input">
                           <div class="input-group-append"><span
                                 class="input-group-text"></span></div>
                        </div>
                     </div>
                     <div class="col-md-4 mt-3">
                        <h6>Comprimento embalado</h6>
                        <div class="input-group border-input"><input
                              type="text" value="8" placeholder="Em cm" class="form-control border-input">
                           <div class="input-group-append"><span
                                 class="input-group-text"></span></div>
                        </div>
                     </div>
                     <div class="col-md-4 mt-3">
                        <h6>Peso embalado</h6>
                        <div class="input-group border-input"><input
                              type="text" value="0,2" placeholder="Em KG Max 1KG" class="form-control border-input">
                           <div class="input-group-append"><span
                                 class="input-group-text"></span></div>
                        </div>
                     </div>
                     <div class="col-md-6 mt-3">
                        <h6>Diametro embalado</h6>
                        <div class="input-group border-input"><input
                              type="text" value="8" placeholder="Em cm" class="form-control border-input">
                           <div class="input-group-append"><span
                                 class="input-group-text"></span></div>
                        </div>
                     </div>
                     <div class="col-md-6 mt-3">
                        <h6>Formato da Embalagem</h6>
                        <select class="form-control border-input"> 
                           <option value=1>Caixa/Pacote</option>
                           <option value=2>Rolo/Prisma</option>
                           <option value=3>Envelope</option>
                        </select>
                     </div>
                  </div>
                  <div class="form-group mt-3">
                     <button class="btn btn-default btn-round">Adicionar modelo 3d</button>
                     <button class="btn btn-default btn-round">Baixar modelo 3d</button>
                  </div>
                  <div class="form-group mt-3">
                     <h6>Descrição</h6><textarea
                        placeholder="Adicione uma descrição para o produto" rows="13" maxlength="150"
                        class="form-control textarea-limited">Já pensou em um Baby Groot todo charmoso e fofinho em sua casa. Encomende logo o seu.</textarea>
                     <h5><small></small></h5>
                  </div>
               </div>
            </div>
            <div class="row buttons-row">
               <div class="col-md-4 col-sm-4">
                 <button class="btn btn-outline-danger btn-block btn-round" type="reset">Cancelar</button>
               </div>
               <div class="col-md-4 col-sm-4">
                 <button class="btn btn-outline-danger btn-block btn-round" type="submit">Excluir</button>
               </div>
               <div class="col-md-4 col-sm-4">
                 <button class="btn btn-primary btn-block btn-round" type="submit">Salvar</button>
               </div>
             </div>
         </div>
      </div>
   </div>
</div>