<div class="page-header page-header-xs" style="background-image: url('./assets/img/productDetail.jpg');">
    <div class="filter"></div>
 </div>
 <div class="main-content">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-icon card-header-rose">
                        <h4 class="card-title">Encomendas</h4>
                        <div class="form-group row">
                        <div class="col-md-3">
                            <label>Pesquisar por nome do cliente</label>
                            <input [(ngModel)]="searchName" class="form-control" placeholder="Nome" type="text">
                        </div>
                        <div class="col-md-3">
                            <label>Filtrar por Status</label>
                            <select [(ngModel)]="searchStatus" class="form-control border-input">
                                <option value="">Todos</option>
                                <option value="Pendente">Pendente</option>
                                <option value="Em entrega">Em entrega</option>
                                <option value="Produto em produção">Produto em produção</option>
                                <option value="Concluído">Concluído</option>
                              </select>
                        </div>
                        <div class="col-md-3">
                            <label>Filtrar por produto</label>
                            <input [(ngModel)]="searchProduct" class="form-control" placeholder="Nome produto" type="text">
                        </div>
                        <div class="col-md-3">
                            <p class="tr-click" (click)="refresh()"><span><i class="nc-icon nc-refresh-69"></i></span> Atualizar Listagem</p> 
                        </div>
                    </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Produto</th>
                                        <th>Cliente</th>
                                        <th>Cliente Email</th>
                                        <th>Whatsapp</th>
                                        <th>Status</th>
                                        <th>Data</th>
                                        <!---->
                                    </tr>
                                </thead> 
                                <tbody *ngIf="orders">
                                    <ng-container *ngFor="let order of orders.orders | filterAll: searchName | filterAll: searchProduct | filterAll: searchStatus">
                                    <tr class="tr-click" [routerLink]="['/encomenda/', order._id]"> 
                                        <td>
                                            <h6>{{ order.title }}</h6> 
                                        </td>
                                        <td>
                                            {{ order.clientName }}
                                        </td>
                                        <td>
                                            {{ order.clientEmail }}
                                        </td>
                                        <td>
                                            {{ order.clientPhone }}
                                        </td>
                                        <td>
                                            {{ order.status }}
                                        </td>
                                        <td>
                                            {{ order.createdAt }}
                                        </td>
                                    </tr>
                                    </ng-container>
                                    <!---->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>