html {
    scroll-behavior: smooth;
  }

  img {
    height: 100px;
    width: 100px;
    object-fit: contain;
}

.spin {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

