.dropdown-menu { z-index: 1; position: absolute; max-height: 250px; overflow-y: auto; min-width: 100% !important; background-attachment: local, local, scroll, scroll; }

.dropdown-item {  z-index: 1000; position: absolute; white-space: normal; }