<div class="page-header page-header-xs" style="background-image: url('./assets/img/productDetail.jpg');">
   <div class="filter"></div>
 </div>

 <div class="main">
   <div class="section">
     <div class="container">
       <div class="row">
         <div class="col-md-5 col-sm-6">     
           <ngb-carousel>
            <ng-template ngbSlide>
                <img class="img-responsive" src="./assets/img/trabalho1.jpg" alt="Random first slide">
                <div class="carousel-caption">
                    <p>Somewhere</p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <img class="img-responsive" src="./assets/img/trabalho1.jpg" alt="Random second slide">
                <div class="carousel-caption">
                    <p>Somewhere else</p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <img class="img-responsive" src="./assets/img/trabalho1.jpg" alt="Random third slide">
                <div class="carousel-caption"> 
                    <p>Here it is</p>
                </div>
            </ng-template>
        </ngb-carousel>
         </div>
         <div class="col-md-6 col-sm-6">
           <h2>Baby Grooth</h2>
           <h4 class="price"><strong>R$ 30</strong></h4>
           <hr>
           <p>Já pensou em um Baby Groot todo charmoso e fofinho em sua casa. Encomende logo o seu.</p>
           <span class="label label-default shipping mt-3 mb-3">Entrega em todo o Brasil</span>
           <div class="row">
             <div class="col-md-6 col-sm-6">
               <div class="form-group">
                <h6>Nome</h6>
                <input type="text" class="form-control border-input" placeholder="Seu Nome">
              </div>
             </div>
             <div class="col-md-6 col-sm-6">
              <div class="form-group">
                <h6>E-mail</h6>
                <input type="text" class="form-control border-input" placeholder="Seu email de contato">
              </div>
             </div>
             <div class="col-md-6 col-sm-6">
              <div class="form-group">
                <h6>Calcular frete</h6>
                <input type="text" class="form-control border-input" placeholder="CEP">
              </div>
             </div>
             <div class="col-md-6 col-sm-6">
              <div class="form-group">
                <h6>Forma de entrega</h6>
                <select class="form-control border-input"> 
                  <option value="04510">PAC</option>
                  <option value="04014">SEDEX</option>
                  <option value="40169">SEDEX 12</option>
                  <option value="40215">SEDEX 10</option>
                  <option value="0">Retirar em mãos - Apenas em Santo Ângelo - RS</option>
                  </select>
              </div>
             </div>
             <h4 class="mr-auto ml-auto mt-1">Frete <span class="price text-success">R$ 9,99</span> entregue em <span class="price text-success">7 dias</span></h4>
           </div>
           <hr>
           <div class="row">
             <div class="col-md-7 offset-md-5 col-sm-8 mr-auto ml-auto">
              <h4 class="price mr-auto ml-auto text-center mb-3 mt-1"><strong>Total R$ 39,99</strong></h4>
               <button class="btn btn-danger btn-block btn-round">Encomendar &nbsp;<i class="fa fa-chevron-right"></i></button>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>