
    <div class="main">
        <div class="section text-center">
        <div id="middle" class="container">

    <h1 class="title">404</h1>
    <p><strong>Esta página não está disponível.</strong></p>

    <p>
    O link em que você clicou pode não estar funcionando, ou a página pode ter sido removida. Voltar para o Instagram.
    </p>
    
    <a [routerLink]="['/']" >Voltar à página principal</a>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
</div>
</div>
  

