<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" [routerLink]="['/']">&lt;BeMaker&gt;</a>
            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse"
                data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" *ngIf="!isDocumentation()">
                    <a class="nav-link" rel="tooltip" title="Curta a gente no Facebook" data-placement="bottom"
                        href="https://www.facebook.com" target="_blank">
                        <i class="fa fa-facebook-square"></i>
                        <p class="d-lg-none">Facebook</p>
                    </a>
                </li>
                <li class="nav-item" *ngIf="!isDocumentation()">
                    <a class="nav-link" rel="tooltip" title="Nos siga no Instagram" data-placement="bottom"
                        href="https://www.instagram.com/bemaker_3d/" target="_blank">
                        <i class="fa fa-instagram"></i>
                        <p class="d-lg-none">Instagram</p>
                    </a>
                </li>
                <li class="nav-item" *ngIf="!isDocumentation()">
                    <a class="nav-link" rel="tooltip" title="Entre em contato" data-placement="bottom"
                        href="https://linkwhatsapp" target="_blank">
                        <i class="fa fa-whatsapp"></i>
                        <p class="d-lg-none">Whatsapp</p>
                    </a>
                </li>
                <li class="nav-item" *ngIf="!isDocumentation()">
                </li>
                <li class="nav-item" *ngIf="!isDocumentation()">
                    <a [routerLink]="['/encomendar']" class="nav-link"><i
                            class="nc-icon nc-book-bookmark"></i> Encomendas</a>
                </li>
                <li class="nav-item" *ngIf="isHome()">
                    <a href="https://www.creative-tim.com/product/paper-kit-2-pro-angular?ref=pk2-angular-free-local"
                        target="_blank" class="btn btn-danger btn-round">Upgrade to Pro</a>
                </li>
                <li class="nav-item" *ngIf="!isHome()">
                    <a [routerLink]="['/trabalhos']" *ngIf="!isDocumentation()" class="nav-link"><i
                            class="nc-icon nc-layout-11"></i>Produtos</a>
                    <a [routerLink]="['/trabalhos']" *ngIf="isDocumentation()" class="nav-link">Back to Kit</a>
                </li>
                <li class="nav-item" *ngIf="isDocumentation()">
                    <a href="https://github.com/creativetimofficial/paper-kit-2-angular/issues?ref=pk2-free-local"
                        target="_blank" class="nav-link">Have an issue</a>
                </li>
                
                <li *ngIf="user.get('token') && user.get('name') && user.get('permissions')" class="nav-item">
                    <div ngbDropdown class="dropdown" placement="bottom-left">
 
                        <a style="cursor: pointer;" [ngClass]="sidebarVisible == true ? 'nav-link text-muted pad' : 'nav-link'" id="dropdownBasic3" ngbDropdownToggle><i class="nc-icon nc-settings-gear-65" aria-hidden="true"></i> {{ user.get("name") }}</a>
                         
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic3" class="dropdown-danger dropdown-menu-right">
                            <div class="card">
                            <a [routerLink]="['/encomendas']" [ngClass]="sidebarVisible == true ? 'dropdown-item text-muted' : 'dropdown-item'">Listagem de Encomendas</a>
                            <div class="dropdown-divider"></div>
                            <a *ngIf="userPermissions.includes('update:user')" [routerLink]="['/funcionarios']" [ngClass]="sidebarVisible == true ? 'dropdown-item text-muted' : 'dropdown-item'">Listagem de Usuários</a>
                            <div class="dropdown-divider"></div>
                            <a *ngIf="userPermissions.includes('create:product')" [routerLink]="['/criar-trabalho']" [ngClass]="sidebarVisible == true ? 'dropdown-item text-muted' : 'dropdown-item'">Criar Produto</a>
                            <div class="dropdown-divider"></div>
                            <a *ngIf="userPermissions.includes('create:user')" [routerLink]="['/signup']" [ngClass]="sidebarVisible == true ? 'dropdown-item text-muted' : 'dropdown-item'">Cadastrar novo Usuário</a>
                        </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a *ngIf="user.get('token') == null" [routerLink]="['/signin']" class="nav-link" placement="right" ngbTooltip="Login">
                        <i class="nc-icon nc-circle-10"></i>
                    </a>
                    <a *ngIf="user.get('token') && user.get('name') && user.get('permissions')"  (click)="logout()" class="nav-link" [routerLink]="['/']">
                        <i placement="top" ngbTooltip="Desconectar" class="nc-icon nc-user-run" style="cursor: pointer;"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>