<div class="page-header page-header-xs" style="background-image: url('./assets/img/productDetail.jpg');">
  <div class="filter"></div>
</div>

<div class="main">
  <div *ngIf="order" class="section">
    <div class="container">
      <h3 class="mb-3">Dados da encomenda</h3>
      <h3 class="mb-3">{{ order.title }}</h3>
      <div class="mb-3">  
        <p>pedido feito em {{ order.createdAt }}</p>
      </div>

      <div>
        <div class="row">
          <div class="col-md-12 col-sm-7">
            <div class="form-group row">
              <div class="col-md-4">
                <h6>Status</h6>
                <select class="form-control border-input">
                  <option value="Pendente">Pendente</option>
                  <option value="Em entrega">Em entrega</option>
                  <option value="Produto em produção">Produto em produção</option>
                </select>
              </div>
                <div class="col-md-2 col-sm-4 mt-4"><button type="submit"
                  class="btn btn-primary btn-block btn-round">Salvar</button></div>
            </div>
            <div class="form-group row">
              
              <div class="col-md-4">
                <h6>Nome Cliente</h6>
                <p>{{ order.clientName }}</p>
              </div>
              <div class="col-md-4">
                <h6>Email do cliente</h6>
                <p>{{ order.clientEmail }}</p>
              </div>
              <div class="col-md-4">
                <h6>Whatsapp</h6>
                <p>{{ order.clientPhone }}</p>
            </div>
            </div>
            <div *ngIf="order.quoteOrder==false" class="form-group row">
              <div *ngIf="order.quoteOrder==false" class="col-md-3">
                <h6>Modo de entrega</h6>
                <p>{{ order.deliverMethod }}</p>
              </div>
              <div class="col-md-3">
                <h6>Cep</h6>
                <p>{{ order.cep }}</p>
              </div>
              <div class="col-md-3">
                <h6>Estado</h6>
               <p>{{ order.state }}</p>
              </div>
              <div class="col-md-3">
                <h6>Frete</h6>
                <p>{{ order.deliverPrice }}</p>
              </div>
            </div>
        <div *ngIf="order.quoteOrder==true" class="form-group row">
          <div class="col-md-12">
          <h6>Descrição do cliente</h6>
          <p>{{ order.notes }}</p>
        </div>
        </div>
        <br>
        <!-- If not quote Order -->
        <div *ngIf="order.quoteOrder==false">
        <div class="form-group row">
          <div class="col-md-4">
          <h5>Produto</h5>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-3">
          <h6>Produto</h6>
          <p>{{ order.productData[0].title }}</p>
        </div>
        <div class="col-md-3">
          <h6>Preço</h6>
          <p>{{ order.productData[0].price }}</p>
        </div> 
        </div> 
        <div class="form-group row">
            <div class="form-group">
              <div class="col-md-12">
              <h6>Descrição do Produto</h6> 
              <p>{{ order.productData[0].description }}</p>
            </div>
            </div>
          </div>
          </div>
          </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5 col-sm-4 ml-auto mr-auto"> 
              <div class="card page-carousel">
          <ngb-carousel *ngIf="order.quoteOrder==false">
            <ng-template *ngFor="let img of order.productData[0].images" ngbSlide>
                <img src="{{img.url}}" alt="img.key">
                <div class="carousel-caption">
                </div>
            </ng-template> 
        </ngb-carousel>
        <ngb-carousel *ngIf="order.quoteOrder==true">
          <ng-template *ngFor="let img of order.images" ngbSlide>
              <img class="img-responsive" src="{{img.url}}" alt="img.key">
              <div class="carousel-caption">
              </div>
          </ng-template>
      </ngb-carousel>
        </div>
        </div>
        </div>
        <div *ngIf="order.quoteOrder==false">
          <div class="row col-md-8 ml-auto mr-auto">
      <div *ngFor="let file of order.productData[0].files" class="ml-auto mr-auto">
          <div class="info">
              <i class="icon nc-icon nc-app"></i> 
          </div>
              <p>{{ file.key }}</p>
              <a href="{{ file.url }}">Download</a>
      </div>
    </div>
      </div> 
      <div *ngIf="order.quoteOrder==true">
        <div class="row col-md-8 ml-auto mr-auto">
    <div *ngFor="let file of order.files" class="ml-auto mr-auto">
        <div class="info">
            <i class="icon nc-icon nc-app"></i> 
        </div>
            <p>{{ file.key }}</p>
            <a href="{{ file.url }}">Download</a>
    </div>
  </div>
    </div> 

      </div>
    </div>
  </div>
