<div class="page-header page-header-xs" style="background-image: url('./assets/img/productDetail.jpg');">
  <div class="filter"></div>
</div>

<div class="main">
  <div class="section">
    <div class="container">
      <h3 class="mb-3">Dados da encomenda</h3>
      <h3 class="mb-3">Orçamento</h3>
      <div>
        <div class="row">
          <div class="col-md-12 col-sm-7">
            <div class="form-group row">
              <div class="col-md-4">
                <h6>Status</h6><select class="form-control border-input">
                  <option value="1" ng-reflect-value="1">Pendente</option>
                  <option value="2" ng-reflect-value="2">Em entrega</option>
                  <option value="3" ng-reflect-value="3">Produto em produção</option>
                </select>
                <div class="col-md-2 col-sm-4"><button type="submit"
                  class="btn btn-primary btn-block btn-round">Salvar</button></div>
              </div>
            </div>
            <div class="form-group row">
              
              <div class="col-md-4">
                <h6>Nome Cliente</h6>
                <p>Thurinasadan</p>
              </div>
              <div class="col-md-4">
                <h6>Email do cliente</h6>
                <p>thurinasadan123@yahoo.com</p>
              </div>
              <div class="col-md-4">
                <h6>Whatsapp</h6>
                <p>(55) 991234567</p>
            </div>
            </div>
            <div class="form-group row">
              <div class="col-md-3">
                <h6>Data do Pedido</h6>
                <p>05/08/2021, 00:45:37</p>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-3">
                <h6>Modo de entrega</h6>
                <p>PAC</p>
              </div>
              <div class="col-md-3">
                <h6>Cep</h6>
                <p>98700000</p>
              </div>
              <div class="col-md-3">
                <h6>Estado</h6>
               <p>RS</p>
              </div>
              <div class="col-md-3">
                <h6>Frete</h6>
                <p>21,23</p>
              </div>
            </div>
        <div class="form-group row">
          <div class="col-md-12">
          <h6>Descrição do cliente</h6>
          <p>Já pensou em um Baby Groot todo charmoso e fofinho em sua casa. Encomende logo o seu.</p>
        </div>
        </div>
        <br>
        <!-- If not quote Order -->
        <div class="form-group row">
          <div class="col-md-4">
          <h5>Produto</h5>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-3">
          <h6>Produto</h6>
          <p>Baby Groot</p>
        </div>
        <div class="col-md-3">
          <h6>Preço</h6>
          <p>30.00</p>
        </div> 
            <div class="form-group mt-3">
              <div class="col-md-12">
              <h6>Descrição do Porduto</h6>
              <p>Já pensou em um Baby Groot todo charmoso e fofinho em sua casa. Encomende logo o seu.</p>
            </div>
            </div>
          </div>
          </div>
        </div>
        <div class="row col-md-5 col-sm-6 ml-auto mr-auto">
          <ngb-carousel>
            <ng-template ngbSlide>
                <img class="img-responsive" src="./assets/img/trabalho1.jpg" alt="Random first slide">
                <div class="carousel-caption">
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <img class="img-responsive" src="./assets/img/trabalho1.jpg" alt="Random second slide">
                <div class="carousel-caption">
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <img class="img-responsive" src="./assets/img/trabalho1.jpg" alt="Random third slide">
                <div class="carousel-caption"> 
                </div>
            </ng-template>
        </ngb-carousel>
        </div>
        <div class="col-md-2 ml-auto mr-auto mt-4 mb-5">
          <h6 class="text-center">Baixar Modelo 3d</h6><button
            type="button" class="btn btn-default btn-round ml-3">Download</button>
        </div>
        <div class="row buttons-row">
          <div class="col-md-4 col-sm-4"><button type="reset"
              class="btn btn-outline-danger btn-block btn-round">Cancelar</button></div>
          <div class="col-md-4 col-sm-4"><button type="submit"
              class="btn btn-outline-danger btn-block btn-round">Excluir</button></div>
        </div>
      </div>
    </div>
  </div>
</div>