    <div class="page-header" style="background-image: url('./assets/img/trabalhos3.jpg');">
       <div class="filter"></div>
       <div class="content-center">
          <div class="motto text-center">
             <h1>Entregamos em todo o Brasil</h1>
             <h3><i class="nc-icon nc-minimal-down"></i> Veja os nossos trabalhos! <i class="nc-icon nc-minimal-down"></i></h3>
          </div>
       </div>
    </div>
    <div class="wrapper">
       <div class="section section-gray">
          <div class="container">
             <h3 class="section-title">Encontre o que procura</h3>
             <div class="row">
                <div class="col-md-3">
                  
                     
                         <!----><!---->
                         
                           
                                  <!---->
               <div class="col-sm-6 col-lg-3">
                  <div class="tim-title">
                      <h3>Sliders</h3>
                  </div>
                  <br>
                  <nouislider class="slider slider-info" [connect]="true" [min]="0" [max]="100" [step]="1" [(ngModel)]="doubleSlider" [tooltips]="false"></nouislider>
              </div>
                         
                     
                  
                </div>
                <div class="col-md-9">
                   <div class="products">
                      <div class="row">
                         <div class="col-md-4 col-sm-4">
                            <div class="card card-product card-plain">
                               <div class="card-image">
                                  <a href="javascript:void(0)"><img alt="Rounded Image" class="img-rounded img-responsive" src="./assets/img/trabalho1.jpg"></a>
                                  <div class="card-body">
                                     <div class="card-description">
                                        <h5 class="card-title">One Shoulder Dress</h5>
                                        <p class="card-description">Dresses &amp; Skirts</p>
                                     </div>
                                     <div class="price">
                                        <h5>2.900 €</h5>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                         <div class="col-md-4 col-sm-4">
                            <div class="card card-product card-plain">
                               <div class="card-image">
                                  <a href="javascript:void(0)"><img alt="Rounded Image" class="img-rounded img-responsive" src="./assets/img/trabalho1.jpg"></a>
                                  <div class="card-body">
                                     <div class="card-description">
                                        <h5 class="card-title">Stretch-Knit Dress</h5>
                                        <p class="card-description">Dresses &amp; Skirts</p>
                                     </div>
                                     <div class="price">
                                        <h5>1.700 €</h5>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                         <div class="col-md-4 col-sm-4">
                            <div class="card card-product card-plain">
                               <div class="card-image">
                                  <a href="javascript:void(0)"><img alt="Rounded Image" class="img-rounded img-responsive" src="./assets/img/trabalho1.jpg"></a>
                                  <div class="card-body">
                                     <div class="card-description">
                                        <h5 class="card-title">Chrystal Sheer Dress</h5>
                                        <p class="card-description">Dresses &amp; Skirts</p>
                                     </div>
                                     <div class="price">
                                        <h5>1.500 €</h5>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                         <div class="col-md-4 col-sm-4">
                            <div class="card card-product card-plain">
                               <div class="card-image">
                                  <a href="javascript:void(0)"><img alt="Rounded Image" class="img-rounded img-responsive" src="./assets/img/trabalho1.jpg"></a>
                                  <div class="card-body">
                                     <div class="card-description">
                                        <h5 class="card-title">One Shoulder Dress</h5>
                                        <p class="card-description">Dresses &amp; Skirts</p>
                                     </div>
                                     <div class="price">
                                        <h5>2.600 €</h5>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                         <div class="col-md-4 col-sm-4">
                            <div class="card card-product card-plain">
                               <div class="card-image">
                                  <a href="javascript:void(0)"><img alt="Rounded Image" class="img-rounded img-responsive" src="./assets/img/trabalho1.jpg"></a>
                                  <div class="card-body">
                                     <div class="card-description">
                                        <h5 class="card-title">Glass Beads Skirt</h5>
                                        <p class="card-description">Dresses &amp; Skirts</p>
                                     </div>
                                     <div class="price">
                                        <h5>7.500 €</h5>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                         <div class="col-md-4 col-sm-4">
                            <div class="card card-product card-plain">
                               <div class="card-image">
                                  <a href="javascript:void(0)"><img alt="Rounded Image" class="img-rounded img-responsive" src="./assets/img/trabalho1.jpg"></a>
                                  <div class="card-body">
                                     <div class="card-description">
                                        <h5 class="card-title">Velvet Mini Dress</h5>
                                        <p class="card-description">Dresses &amp; Skirts</p>
                                     </div>
                                     <div class="price">
                                        <h5>3.500 €</h5>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                         <div class="col-md-3 offset-md-4">
                            <button class="btn btn-round btn-outline-default" data-rotation-color="gray" data-toggle="morphing" id="successBtn" rel="tooltip" title="This is a morphing button">Load more...</button>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
       <div id="bottom" class="section landing-section">
         <div class="container">
             <div class="row">
                 <div class="col-md-8 mr-auto ml-auto">
                     <h2 class="text-center">Tem um projeto para imprimir?</h2>
                     <h3 class="text-center">Faça um orçamento</h3>
                     <form class="contact-form">
                         <div class="row">
                             <div class="col-md-6">
                                 <label>Nome</label>
                                 <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                                     <div class="input-group-prepend">
                                       <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                                     </div>
                                     <input type="text" class="form-control" placeholder="Name" (focus)="focus=true" (blur)="focus=false" >
                                 </div>
                             </div>
                             <div class="col-md-6">
                                 <label>Email</label>
                                 <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                                     <div class="input-group-prepend">
                                       <span class="input-group-text">  <i class="nc-icon nc-email-85"></i></span>
                                     </div>
                                     <input type="text" class="form-control" placeholder="Email" (focus)="focus1=true" (blur)="focus1=false" >
                                 </div>
                             </div>
                         
                         
                         <div class="col-md-8">
                             <label>Tem imagens ou um modelo 3D?</label>
                             <div>
                                 <button class="btn btn-danger btn-fill btn-sm">Fazer upload</button>
                             </div>
                         </div>
                     </div>
                     <br>
                         <label>Conte sobre o seu projeto, iremos adorar poder tirar as suas ideias do papel!!!</label>
                         <textarea class="form-control" rows="4" placeholder="Nos diga o que está planejando..."></textarea>
                         <div class="row">
                             <div class="col-md-4 mr-auto ml-auto">
                                 <button class="btn btn-danger btn-lg btn-fill">Fazer orçamento</button>
                             </div>
                         </div>
                     </form>
                 </div>
             </div>
         </div>
     </div>
    </div>
